@charset "utf-8";
.head-top {
  line-height: 44px;
  height: 44px;
}
.head-top .login-ms {
  color: #bfbfc7;
}
.head-top .login-ms b {
  font-weight: 500;
  display: inline-block;
  line-height: 40px;
  margin: 0 8px;
  cursor: pointer;
  border-bottom: 2px solid #fff;
}
.head-top .login-ms .current {
  color: #34343b;
  font-weight: 700;
  border-bottom-color: #3085e9;
}
.sub-form .submit-btn {
  width: 100%;
  height: 38px;
  line-height: 38px;
  background: #3085e9;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}
.sub-form .form-title {
  padding: 12px 0;
}
.sub-form .form-input {
  padding: 12px 0;
}
.sub-form .contentText {
  position: relative;
  z-index: 1;
}
.sub-form .text-area-box {
  position: relative;
  background: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 14px;
  line-height: 20px;
}
.sub-form .text-area-box .placeholder {
  position: absolute;
  top: 8px;
  left: 8px;
  right: 8px;
  color: #bfbfc7;
}
.sub-form .form-main {
  margin-bottom: 12px;
}
.sub-form .form-main .text-area-box {
  margin-left: 92px;
}
.sub-form .form-main .upload-pic {
  position: relative;
  width: 80px;
  height: 80px;
  float: left;
}
.sub-form .form-main .upload-pic .pic-thumb {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -20px;
  margin-top: -15px;
}
.sub-form .form-main .upload-pic .sfile-input {
  display: block;
  width: 80px;
  height: 80px;
  font-size: 5em;
  position: relative;
  z-index: 1;
  opacity: 0;
}
.sub-form .form-main .upload-pic .obj-upload {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 80px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.login-fix {
  min-height: 380px;
  position: relative;
}
.login-con {
  padding: 0 15px;
}
.login-con .dn {
  display: none;
}
.login-con .f-i-text {
  width: 100%;
  padding-left: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.login-con .submit-btn {
  -webkit-border-radius: 1000px;
  -moz-border-radius: 1000px;
  border-radius: 1000px;
  font-size: 16px;
}
.login-con .submit-btn.login-btn-grey {
  background-color: #bfbfc7;
  color: #e3e3ea;
}
.login-con .input-group {
  width: 100%;
}
.login-con .mt {
  margin-top: 12px;
}
.password-tab {
  display: inline-block;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #3085e9;
  line-height: 28px;
  float: left;
}
.password-tab .sub-nav {
  font-weight: 700;
  font-size: 12px;
  color: #3085e9;
  display: inline-block;
  float: left;
  height: 100%;
  width: 72px;
  text-align: center;
}
.password-tab .sub-nav.active {
  color: #e3e3ea;
  background-color: #3085e9;
}
.feedback_bar {
  font-size: 13px;
  color: #a0a0a9;
  padding: 8px 0;
}
.feedback_bar a {
  color: #a0a0a9;
}
.error-bar {
  font-size: 14px;
  margin: 8px 0;
  color: #fff;
  background: #ed4f4f;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  line-height: 18px;
  padding: 11px;
}
.error-bar .i-warn {
  display: inline-block;
  float: left;
  margin-right: 5px;
}
.input-group {
  position: relative;
}
.input-group .del_touch {
  position: absolute;
  right: 0;
  display: block;
  height: 36px;
  width: 36px;
  z-index: 1;
}
.input-group .get-dt-code {
  font-size: 12px;
  color: #3085e9;
  width: auto;
  font-weight: 700;
  padding: 0 10px;
  line-height: 36px;
}
.input-group .get-dt-code .i-input-op {
  opacity: 0;
}
.input-group .get-dt-code .get-code-txt {
  background: none;
  color: #3085e9;
  font-weight: 700;
}
.input-group .enter-v-code {
  width: auto;
}
.input-group .enter-v-code .v-code {
  height: 18px;
  margin-top: 9px;
  margin-right: 10px;
}
.input-group .enter-v-code .i-input-op {
  opacity: 0;
}
.input-group .i-input-op {
  position: absolute;
  display: none;
  left: 10px;
  top: 10px;
}
.checkbox-cm {
  display: inline-block;
  position: relative;
}
.checkbox-cm input.auto-login {
  opacity: 0;
  position: absolute;
  top: 0;
}
.checkbox-cm label {
  position: relative;
  cursor: pointer;
  border: 0;
  box-sizing: border-box;
  padding-left: 15px;
  display: inline-block;
}
.checkbox-cm label:before {
  content: '';
  position: absolute;
  top: 1px;
  left: 0;
  width: 13px;
  height: 13px;
  background: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.checkbox-cm label:after {
  content: '';
  position: absolute;
  width: 9px;
  height: 5px;
  top: 50%;
  margin-top: -5px;
  left: 2px;
  box-sizing: border-box;
  background: transparent;
  border: 1px solid #fff;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.checkbox-cm input[type="checkbox"]:checked + label:after {
  border-left-color: #64a43e;
  border-bottom-color: #64a43e;
}
.login-fttxt {
  font-size: 12px;
  color: #a0a0a9;
  padding: 12px 0;
}
.login-fttxt a {
  color: #3085e9;
}
.login-bt-fix {
  position: absolute;
  bottom: 5px;
  left: 15px;
  right: 15px;
}
.f-i-text {
  height: 36px;
  font-size: 16px;
  color: #34343b;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-weight: 700;
}
.f-i-text::-webkit-input-placeholder {
  color: #d2d2d7;
  font-size: 14px;
  font-weight: 500;
}
.f-i-text:-moz-placeholder {
  color: #d2d2d7;
  font-size: 14px;
  font-weight: 500;
}
.f-i-text::-moz-placeholder {
  color: #d2d2d7;
  font-size: 14px;
  font-weight: 500;
}
.f-i-text:-ms-input-placeholder {
  color: #d2d2d7;
  font-size: 14px;
  font-weight: 500;
}
.del-btn {
  width: 16px;
  height: 16px;
  background-image: url(../img/slice/del-btn.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
}
.i-psw-show {
  width: 19px;
  height: 16px;
  background-image: url(../img/slice/i-psw-show.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
}
.i-psw-hide {
  width: 19px;
  height: 16px;
  background-image: url(../img/slice/i-psw-hide.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
}
.i-warn {
  width: 18px;
  height: 18px;
  background-image: url(../img/slice/i-warn.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
}
