@charset "utf-8";
.infos-play {
  height: 32px;
  overflow: hidden;
  color: rgba(237, 79, 79, 0.8);
}
.infos-play .up {
  color: #74a258;
}
.infos-play .p1 {
  font-size: 16px;
  line-height: 22px;
}
.infos-play .p2 {
  font-size: 10px;
  line-height: 10px;
}
