<div class="docs-header">
	<div class="container animation-scale-up" id="docs-con">
		<h2>{{docsTit}}</h2>
		<p>{{docsMsg}}</p>		
	</div>
</div>
<div class="container">
	<div class="row feature-list">
		<div class="col-xs-12 col-sm-4">
			<div class="feature-list-item">
				<h4 class="feature-tit">平台适配</h4>
				<div class="feature-icon"><img src="assets/img/icon1.png"></div>
				<p class="feature-desc">支持桌面及移动平台、浏览器及混合应用开发，所有屏幕适配</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-4">
			<div class="feature-list-item">
				<h4 class="feature-tit">组件丰富</h4>
				<div class="feature-icon"><img src="assets/img/icon2.png"></div>
				<p class="feature-desc">含多个 CSS组件、JS组件和 Web组件，可快速构建出色的跨屏页面</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-4">
			<div class="feature-list-item">
				<h4 class="feature-tit">高效体验</h4>
				<div class="feature-icon"><img src="assets/img/icon3.png"></div>
				<p class="feature-desc">面向 HTML5 开发，使用 CSS3 来做动画交互，给用户带来不一般的视觉体验</p>
			</div>
		</div>
	</div>
	<expander class='expander' expander-title='title'>
        {{text}}
		<div tabpanel="tabpanel" class='tabpanel'>
			<panel>
			<div ng-repeat='thing in things'>
	            {{thing}}.子面板1
	        </div>
	        </panel>
		</div>		
		<hello-world></hello-world> 
		<hello-world2 title = '我是第二个directive' mycolor="red"><label for="">gdfgd</label></hello-world2> 
		<div ng-controller='MainController'> 
		 	父亲:{{name}}<input ng-model="name" /> 
		 	<div my-directive></div> 
		</div> 
		<form name="mainForm" novalidate>
		    <div ng-form="form1">
				姓名:<input type="text" ng-required="true" ng-model="name"/><br>
		  		证件号码:<input type="number" ng-minLength="15" ng-maxLength="18" ng-required="true" ng-model="idnum"/>
		    </div>
		    <div ng-form="form2">
		  		监护人姓名:<input type="text" ng-required="true" ng-model="gname"/><br>
		       	监护人证件号码:<input type="number" ng-minLength="15" ng-maxLength="18" ng-required="true" ng-model="gidnum"/>
		    </div>
		    <button ng-disabled="form1.$invalid && form2.$invalid">submit all</button>
		</form>
    </expander>
    
</div>
