
			<section id="button">
				<div class="page-header">
					<h1>Button</h1>
				</div>
				<p>
					<button class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false"><span class="ui-button-text">Default</span></button>
					<button class="ui-button-primary ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false"><span class="ui-button-text">Primary</span></button>
					<button class="ui-button-success ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false"><span class="ui-button-text">Success</span></button>
					<button class="ui-button-info ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false"><span class="ui-button-text">Info</span></button>
					<button class="ui-button-warning ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false"><span class="ui-button-text">Warning</span></button>
					<button class="ui-button-danger ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false"><span class="ui-button-text">Danger</span></button>
					<button class="ui-button-inverse ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false"><span class="ui-button-text">Inverse</span></button>
					<a class="button ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false"><span class="ui-button-text">Anchor</span></a>
					<input type="submit" class="button ui-button ui-widget ui-state-default ui-corner-all" value="Submit" role="button" aria-disabled="false">
				</p>
			</section>