<div class="docs-header">
	<div class="container animation-scale-up" id="docs-con">
		<h2>组件</h2>
		<p>基本组件、web组件</p>
	</div>
</div>
<div class="container">

	<div class="row main-container clearfix">

		<div class="col-xs-12 col-sm-3 col-md-3" id="sidebar">
			<section>
				<div class="sidebar-menu">
					<dl>
						<dt><a href="javascript:;">基本组件</a></dt>
						<dd><a href="index.html" class="active">按钮组</a></dd>
						<dd><a href="#">输入框组</a></dd>
						<dd><a href="#">下拉菜单</a></dd>
						<dd><a href="#">输入框组</a></dd>
						<dd><a href="#">标签组</a></dd>
					</dl>
					<dl>
						<dt><a href="javascript:;">web组件</a></dt>
						<dd><a href="#">头部页头</a></dd>
						<dd><a href="#">导航</a></dd>
						<dd><a href="#">菜单</a></dd>
						<dd><a href="#">搜索框</a></dd>
						<dd>
							<a href="javascript:;" data-toggleclass="active">提示 <i class="f-icon icon-angle"></i></a>
							<p>
								<a href="#">- 状态警告</a>
								<a href="#">- 新消息提示</a>
								<a href="#">- 浮层提示</a>
							</p>
						</dd>
						<dd><a href="#">选项卡</a></dd>
						<dd><a href="#">折叠面板</a></dd>
						<dd><a href="#">标题栏</a></dd>
						<dd><a href="#">侧边栏</a></dd>
						<dd>
							<a href="javascript:;" data-toggleclass="active">列表 <i class="f-icon icon-angle"></i></a>
							<p>
								<a href="#">- 内容列表</a>
								<a href="#">- 缩略图</a>
								<a href="#">- 图文列表</a>
								<a href="#">- 评论列表</a>
							</p>
						</dd>
						<dd>
							<a href="javascript:;" data-toggleclass="active">便签与标号 <i class="f-icon icon-angle"></i></a>
							<p>
								<a href="#">- 徽标</a>
								<a href="#">- 角标</a>
								<a href="#">- 图文列表</a>
								<a href="#">- 评论列表</a>
							</p>
						</dd>
						<dd><a href="#">进度条加载</a></dd>
						<dd><a href="#">弹出层</a></dd>
						<dd><a href="#">广告</a></dd>
						<dd><a href="#">分页</a></dd>
						<dd><a href="#">回到顶部</a></dd>
						<dd><a href="#">底部页脚</a></dd>
					</dl>
					<dl>
						<dt><a href="javascript:;">css3动画</a></dt>
					</dl>
				</div>
			</section>
		</div>
		<div class="col-xs-12 col-sm-9 col-md-9">
			<section id="button">
				<div class="page-header">
					<h1>Button</h1>
				</div>
				<p>
					<button class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false"><span class="ui-button-text">Default</span></button>
					<button class="ui-button-primary ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false"><span class="ui-button-text">Primary</span></button>
					<button class="ui-button-success ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false"><span class="ui-button-text">Success</span></button>
					<button class="ui-button-info ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false"><span class="ui-button-text">Info</span></button>
					<button class="ui-button-warning ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false"><span class="ui-button-text">Warning</span></button>
					<button class="ui-button-danger ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false"><span class="ui-button-text">Danger</span></button>
					<button class="ui-button-inverse ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false"><span class="ui-button-text">Inverse</span></button>
					<a class="button ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false"><span class="ui-button-text">Anchor</span></a>
					<input type="submit" class="button ui-button ui-widget ui-state-default ui-corner-all" value="Submit" role="button" aria-disabled="false">
				</p>
			</section>
		</div>

	</div>
</div>